<div class="header-content">
  <div class="logo">
    <img src="http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/header/sprite.png" alt=""
      class="target" />
    <img
      src="http://img1.360buyimg.com/da/jfs/t1/14716/32/11447/94000/5c90a83bEaa611013/18490bf08654ba09.gif?v=0.36068380359321317"
      alt="" class="img-gif" />
  </div>
  <div class="search-box">
    <div class="search-form">
      <input type="text" id="search-inp" placeholder="外置光驱" />
      <a href="#" class="search-btn"><button class="iconfont">&#xe66d;</button></a>
      <ul class="search-list"></ul>
    </div>
    <div class="hotwords"></div>

    <div class="settleup">
      <div class="cw-icon">
        <i class="iconfont">&#xe621;</i>
        <a target="_blank" href="//cart.jd.com/cart.action">我的购物车</a>
        <i class="ci-count" id="shopping-amount">0</i>
      </div>
    </div>

    <ul class="navitems">
      <li><a href="#" class="red">秒杀</a></li>
      <li><a href="#" class="red">优惠券</a></li>
      <li><a href="#">PLUS会员</a></li>
      <li><a href="#">品牌闪购</a></li>
      <li><a href="#">拍卖</a></li>
      <li><a href="#">京东家电</a></li>
      <li><a href="#">京东超市</a></li>
      <li><a href="#">京东生鲜</a></li>
      <li><a href="#">京东国际</a></li>
      <li><a href="#">京东金融</a></li>
    </ul>
  </div>
  <div class="ad">
    <a id="J_promo_lk" class="promo_lk" href="https://pro.jd.com/mall/active/3icA8dx2jdTYEV2Bas68QKq6g1LS/index.html"
      target="_blank" clstag="h|keycount|head|adbtn_01" aria-label="推广位" style="
        background-image: url('https://img11.360buyimg.com/babel/jfs/t1/166031/32/8804/91474/603d9b69E92708df8/1e33bdff84e2c848.png.webp');
        background-size: cover;
      "></a>
  </div>
</div>

<script>
  (function () {
    window.searchCb = function (res) {
      console.log(res);
      var str = res.result.reduce(function (prev, item) {
        return (
          prev +
          `<li>
                    <span class="product-name">${item[0]}</span>
                    <span class="product-number">约${parseInt(
            item[1]
          )}个商品</span>
                    </li>`
        );
      }, "");

      if (res.result.length == 0) {
        str = `<li>未搜索到相关信息</li>`;
      }

      $(".search-list").html(str).show();
    };
    var timer = null;
    $("#search-inp").on("input", function () {
      clearTimeout(timer);
      var val = $(this).val();
      if (val) {
        timer = setTimeout(function () {
          $.ajax({
            url: "https://suggest.taobao.com/sug",
            data: {
              code: "urf-8",
              q: val,
              callback: "searchCb",
            },
            dataType: "jsonp",
          });
        }, 500);
      }
    });

    var listHideTimer = null;
    $(".search-form")
      .mouseleave(function () {
        clearTimeout(listHideTimer);
        listHideTimer = setTimeout(function () {
          $(".search-list").hide();
        }, 500);
      })
      .mouseenter(function () {
        clearTimeout(listHideTimer);
      })
    $.ajax({
      url: "/hotwords",
      dataType: "json",
      success: function (res) {
        console.log(res);
        var str = res.result.reduce(function (prev, item) {
          return prev + `<a href="${item.href}">${item.word}</a>`;
        }, "");
        $(".hotwords").html(str);
      },
    });
    $(".hotwords")
      .on("mouseenter", "a:first-of-type", function () {
        clearInterval(recommendTimer);
      })
      .on("mouseleave", "a:first-of-type", function () {
        randomWord();
      });
    var recommendTimer = null;
    function randomWord() {
      recommendTimer = setInterval(function () {
        $.ajax({
          url: "/recommendWords",
          dataType: "json",
          success(res) {
            $(".hotwords")
              .find("a")
              .eq(0)
              .text(res.word)
              .attr("href", res.href);
          },
        });
      }, 2000);
    }

    randomWord();

    var gifFadeOutTimer = null;

    $(".logo")
      .mouseenter(function () {
        clearInterval(gifFadeOutTimer);
        if ($(".img-gif").hasClass("animate_start")) {
          $(".img-gif").removeClass("animate_end");
        } else {
          $(this)
            .find(".img-gif")
            .fadeIn()
            .addClass("animate_start")
            .removeClass("animate_end")
            .attr(
              "src",
              "http://img1.360buyimg.com/da/jfs/t1/14716/32/11447/94000/5c90a83bEaa611013/18490bf08654ba09.gif?v=" +
              Math.random()
            );
          setTimeout(function () {
            $(".img-gif").addClass("animate_end").removeClass("animate_start");
          }, 4000);
        }
      })
      .mouseleave(function () {
        if ($(".img-gif").hasClass("animate_end")) {
          $(this).find(".img-gif").fadeOut();
        } else {
          clearInterval(gifFadeOutTimer);
          gifFadeOutTimer = setInterval(function () {
            if ($(".img-gif").hasClass("animate_end")) {
              $(".img-gif").fadeOut();
              clearInterval(gifFadeOutTimer);
            }
          }, 1000);
        }
      });
  })();
</script>