<div class="news-hd">
  <h5 class="news_tit">京东快报</h5>
  <a href="//kuaibao.jd.com/?ids=232264456,790737,231877478,232262561" target="_blank" class="news_more"
    clstag="h|keycount||head|news_a">更多 <i class="iconfont">&#xe625;</i></a>
</div>
<ul class="news_list">
  <li class="news_item news_item__recommend">
    <a href="//kuaibao.jd.com/article?id=232264456" target="_blank" class="news_link"
      clstag="h|keycount||head|news_b01"><span class="news_tag">热评</span>时尚复古墨镜，凹造型的单品出门旅游就选它</a>
  </li>
  <li class="news_item news_item__recommend">
    <a href="//kuaibao.jd.com/article?id=790737" target="_blank" class="news_link"
      clstag="h|keycount||head|news_b02"><span class="news_tag">热门</span>冲奶粉不做这个动作，奶粉最贵都放浪费</a>
  </li>
  <li class="news_item news_item__recommend">
    <a href="//kuaibao.jd.com/article?id=231877478" target="_blank" class="news_link"
      clstag="h|keycount||head|news_b03"><span class="news_tag">热议</span>“樱”为有它，足不出户也可感受樱花清香</a>
  </li>
  <li class="news_item news_item__recommend">
    <a href="//kuaibao.jd.com/article?id=232262561" target="_blank" class="news_link"
      clstag="h|keycount||head|news_b04"><span class="news_tag">热门</span>新学期换新装，这样的笔记本让你更引人注目！</a>
  </li>
</ul>